body {
    margin: 0;
}
.wrap {
    width: 1280px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}
.header {
    display: flex;
    /* margin: 0 auto; */
}
.logo {
    width: 150px;
    margin: 0 auto;
}
.title {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 50px;
}
.main {
    margin: 0 auto;
    width: 1280px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 40px;
    column-gap: 40px;
    box-sizing: border-box;
    width: fit-content;
    margin: 0 auto;
    /* margin: 0 auto; */
}
.card {
    position: relative;
    width: 380px;
    height: 440px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px;
    text-overflow: ellipsis;
    /* background-size: contain; */
    /* border: 1px solid black; */
}
.card__image {
    position: absolute;
    background-size: cover;
    height: 100%;
    /* transition: 1s; */
    /* top: calc(50%-100px);
    left: calc(50%-100px);  */
    /* width: 100%; */
    /* object-fit: cover; */
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.card__wrap {
    position: absolute;
    /* bottom: 30px; */
    /* left: 25px; */
    bottom: -1px;
    backdrop-filter: blur(2px);
    width: 100%;
    left: 0px;
    /* filter: blur(2px); */
    /* backdrop-filter: blur(5px); */
}
/* .card__wrap_blur {
    position: absolute;
    backdrop-filter: blur(5px);
    width: 100%;
    left: 0px;
} */
.card__title {
    /* position: absolute; */
    /* padding-top: 200px; */
    /* margin-bottom: 100px; */
    bottom: 110px;
    left: 25px;
    font-size: 30px;
    color: white;
    margin: 0;
    line-height: 36px;
    font-weight: 600;
    margin-left: 25px;
}
.card__description {
    /* position: absolute; */
    bottom: 5px;
    left: 25px;
    font-size: 15px;
    width: 330px;
    text-overflow: ellipsis;
    color: white;
    margin-top: 5px;
    line-height: 20px;
    opacity: .9;
    margin-left: 25px;
}
.card__image:hover {
    height: 110%;
    transition: 1s;
}

@media screen and (max-width: 1280px) {
    .wrap {
        width: 100%;
    }
    .main {
        width: 100%;
    }
    .cards {
        grid-template-columns: repeat(2, 300px);
        margin: 0 auto;
        row-gap: 15px;
        column-gap: 15px;
        width: fit-content;
        /* justify-items: start; */
    }
    .card {
        margin: 0 auto;
        width: 300px;
        height: 360px;
    }
    .card__wrap {
        /* left: 10px; */
        bottom: -1px;
        backdrop-filter: blur(2px);
        width: 100%;
        left: 0px;
    }
    .card__description { 
        font-size: 15px;
        width: 280px;
        margin-left: 10px;
    }
    .card__title {
        width: 280px;
        margin-left: 10px;
    }
    .title {
        margin-top: 20px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 576px) {
    .wrap {
        width: 100%;
    }
    .main {
        width: 100%;
    }
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .card {
        margin: 0 auto;
    }
    .title {
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 22px;
    }
}